<div id="spell-edit-form-container">
    <input type="hidden" id="spell_id" value="0" />
    <div id="breadcrumbs">
        <a href="#spells">Edit Class Spells</a> >>
        <a href="#spells/<%= classData.id %>"><%= classData.name %> Spells</a> >>
        <% if (spell) { %>
        <%= spell.name %>
        <% } else { %>
        Create Spell
        <% } %>
    </div>

    <div class="form-element-container">
        <label class="form-element-label">Name</label>
        <div class="form-element">
            <input type="text" id="name" value="" />
        </div>
    </div>
    <div class="form-element-container">
        <label class="form-element-label">Icon</label>
        <div class="form-element" id="spell-icon-wrapper">
        </div>
    </div>
    <div class="form-element-container">
        <label class="form-element-label">Cast Time</label>
        <div class="form-element">
            <input type="text" id="cast_time" value="0" />
        </div>
    </div>
    <div class="form-element-container">
        <label class="form-element-label">Cooldown (seconds)</label>
        <div class="form-element">
            <input type="text" id="cooldown" value="0" />
        </div>
    </div>
    <div class="form-element-container">
        <label class="form-element-label">Spell Type</label>
        <div class="form-element">
            <select id="spell_type">
                <option value="0">Melee</option>
                <option value="1">Ranged</option>
                <option value="2">Targeted AOE</option>
                <option value="3">Caster AOE</option>
                <option value="4">Status</option>
            </select>
        </div>
    </div>
    <div class="form-element-container">
        <label class="form-element-label">Cast Type</label>
        <div class="form-element">
            <select id="cast_type">
                <option value="0">Instant</option>
                <option value="1">Timed</option>
                <option value="2">Channelled</option>
                <option value="3">Timed then Channelled</option>
            </select>
        </div>
    </div>
    <div class="form-element-container">
        <label class="form-element-label">Range (meters)</label>
        <div class="form-element">
            <input type="text" id="range" value="0" />
        </div>
    </div>
    <div class="form-element-container">
        <label class="form-element-label">Radius (meters)</label>
        <div class="form-element">
            <input type="text" id="radius" value="0" />
        </div>
    </div>
    <div class="form-element-container">
        <label class="form-element-label">Shape</label>
        <div class="form-element">
            <select id="shape">
                <option value="-1">N/A</option>
                <option value="0">Circle</option>
                <option value="1">Frontal Cone</option>
            </select>
        </div>
    </div>
    <div class="form-element-container">
        <label class="form-element-label">Self-cast Only</label>
        <div class="form-element">
            <input type="checkbox" id="self_cast" />
        </div>
    </div>


    <h3>Effects:</h3>
    <ul id="spell-effects"></ul>
    <p><button id="add-effect-button">Add Effect</button></p>


    <h3>Triggers:</h3>
    <div id="spell-triggers"></div>
    <p><button id="add-trigger-button">Add Trigger</button></p>

    <div class="form-element-container">
        <button id="spell-submit">Save</button>
    </div>
</div>