#header {
    border-bottom: 1px solid black;
}

#body {
}

#sidebar {
    float: left;
    width: 200px;
}

#content {
    float: left;
    margin-left: 20px;
    width: 800px;
}

.form-element-label {
    float: left;
    width: 200px;
    font-weight: bold;
}

.form-element {
    float: left;
    width: 500px;
}

.form-element-container {
    width: 700px;
}

#spell-edit-form-container {
    width: 700px;
}

.spells-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

.spells-table th {
    text-align: left;
}

.spells-table .name-cell {
    width: 50%;
}

.spells-table tr {
    border-bottom: 1px solid black;
    height: 50px;
}

.spell-table-header {
    font-weight: bold;
    font-size: 18px;
}

.spell-effect-container {
    float: left;
    list-style-type: none;
    margin: 10px 0;
    border: 1px solid gray;
}
#spell-effects {
    padding-left: 0;
}